html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono" !important;
    background: #0f0f0f !important;
    color: #fff !important;
}

.whitespace {
    width: 100%;
    height: 100px;
}

@media(max-width: 768) {
    .whitespace {
        display: none;
    }
}

.line {
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 18em;
    }
}

@media(max-width: 768px) {
    @keyframes typewriter {
        from {
            width: 0;
        }
        to {
            width: 17em;
        }
    }
}

@keyframes blinkTextCussor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}